.productos {
    width: 100%;
    padding-top: 20px;
}

.productos__img {
    width: 176px;
    height: 174px;
}
.productos__titulo {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:baseline;
    font-size: 32px;

}
.productos__ver, .producto__link {
    background:none;
    color: #2A7AE4;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.productos__card {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.productos__contenedor {
  padding: 5px;
}

.productos__precio {
    font-size: 16px;
    font-weight: bold;
}
.btn:hover {
    font-size: 18px;
    color: black;
    transition: 0.7s;
}

@media screen and (max-width: 415px) {
  .productos__img {
    width: 158px;
    height: 174px;
  }
  .productos__card {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 0.5rem;
  }
  .productos__titulo {
    font-size: 0.7rem;
  }
  .ocultar {
    display: none;
  }

}
@media (min-width: 415px) and (max-width: 812px) {
  .consolas__card {
    width: 90%;
  }
  .ocultar {
    display: none;
  }
 

}
