.consolas {
  width: 100%;
  padding-left: 100PX;
  padding-top: 20px;
 }

 .consolas__img {
   width: 176px;
   height: 174px;
 }
 .consolas__titulo {
   width: 95%;
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items:baseline;
   font-size: 32px;
   font-size: bold;

 }
 .consolas__ver, .consola__link {
     background:none;
     color: #2A7AE4;
     font-weight: bold;
     font-size: 16px;
     border: none;
 }

 .consolas__card {
   width: 90%;
   display: flex;
   flex-direction: row;
 }

 .consolas__contenedor {
    margin:14PX;

 }
 .consola__titulo {
     font-size: 14px;
     font-weight: 18px;

 }

 .consolas__precio {
     font-size: 16px;
     font-weight: bold;
 }
 .btn:hover {
     font-size: 18px;
     color: black;
     transition: 0.7s;
 }

 @media screen and (max-width:768px) {
    .consolas {
        padding: 10px 0;
        font-size: 0.5rem;

    }
    .consolas__titulo {
        width: 95%;
        font-size: 0.7rem;
    }

    .consolas__img {
        width: 120px;
        height: 120px;
    }

    .consolas__contenedor {
        padding: 5px 5px;

    }

    .ocultar {
        display: none;
    }
    .consola__link {
        background:none;
        color: #2A7AE4;
        font-weight: bold;
        font-size: 0.6rem;
        border: none;
    }

}
