.consolas {
  width: 100%;
 }

 .consolas__img {
  align-items: center;
    width: 100%;
    height: 50%;
 }
 .consolas__titulo {
  width: 95%;
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items:baseline;
   font-size: 32px;

 }
 .consolas__ver, .consola__link {
     background:none;
     color: #2A7AE4;
     font-weight: bold;
     font-size: 16px;
     border: none;
 }

 .consolas__card {
   width:100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .consolas__contenedor {
    margin:5PX;

 }
 .consola__titulo {
     font-size: 14px;
     font-weight: 18px;

 }

 .consolas__precio {
     font-size: 16px;
     font-weight: bold;
 }
 .btn:hover {
     font-size: 18px;
     color: black;
     transition: 0.7s;
 }


 @media screen and (max-width: 415px) {
   .consolas__img {
    width: 100%;
    height: 50%;
   }
   .consolas__card {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 0.5rem;

   }
   .consolas__titulo {
     width: 97%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     font-size: 0.7rem;
   }
   .ocultar {
     display: none;
   }

 }

 @media (min-width: 415px) and (max-width: 1024px) {
  .consolas__card {
    width: 90%;
  }
 

}
