.rodapie  {
    width: 100%;
    text-align: center;
    padding-left: 100PX;
    padding-top: 20px;

}

@media screen and (max-width:768px) {

    .rodapie {
        width: 100%;
        height: 102px;
        font-size: 0.7rem;

    }

}
